:root {
    --deep-blue: #001431;
    --ligh-grey: #8D8D8D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    /* min-height: 200vh; */
    /* height: auto; */
}

header {
    width: 100%;
    /* height: 12vh; */
    height: auto;
    background-color: var(--deep-blue);
    position: fixed;
    z-index: 100;
}

.top-header {
    width: 100%;
    height: 50%;
    display: flex;
    color: white;
    align-items: center;
    padding: .2em .5em;
}

.top-header h1 {
    color: white;
    padding: .4em .5em;
    font-family: monospace;
}

.top-header p {
    padding: .6em .5em;
}

.logo {
    flex: 1;
}

.logo h1 {
    width: 11%;
    cursor: pointer;
}

#abonner {
    background: red;
    padding: .5em .8em;
    cursor: pointer;
}

.material-icons {
    cursor: pointer;
}

.down-header {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-header a {
    color: white;
    width: 100%;
    padding: .5em .6em;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.main-background {
    width: 100%;
    min-height: 41vh;
    background-image: url(/images/great-white.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 6em;
    position: ;
}

.main-background img {
    width: 100%;
}

.content {
    box-shadow: 0em 0em 10px 0px #000000;
    width: 100%;
    /* min-height: 100vh; */
    /* height: auto; */
}

.syno-trailer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.synopsis {
    width: 50%;
    height: 30vh;
    /* height: auto; */
    /* float: left; */
    padding: .8rem;
}

.synopsis h1 {
    padding-bottom: .7em;
}

.synopsis p {
    font-size: 1rem;
    width: 90%;
}

.bande-annonce {
    width: 50%;
    height: 30vh;
    padding: .8rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: chocolate; */
}

.bande-annonce h3 {
    font-size: 1.2rem;
    text-align: center;
    padding-top: .3em;
    margin-bottom: 1.5em;
}

.bande-annonce img {
    width: 100%;
    max-width: 300px;
    /* padding: 1em; */
    border-radius: 10px;
    /* margin-top: 1em; */
}

.casting {
    width: 100%;
    /* height: 18vh; */
    background-color: var(--ligh-grey);
    padding: 3em 1em;
    line-height: 1.2em;
    position: relative;
    z-index: 80;
}

.casting p {
    font-family: sans-serif;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.5em;
}

.a-voir {
    width: 100%;
    /* min-height: 20vh; */
    padding: 1em;
}

.a-voir h2 {
    font-size: 1.2rem;
    white-space: nowrap;
    width: 100%;
    font-family: sans-serif;
}

.a-voir-thumbnails {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3em 1em;
}

.a-voir img {
    width: 80%;
    max-width: 300px;
}

.premier-film {
    display: flex;
    justify-content: center;
    width: 100%;
}

.deuxieme-film {
    display: flex;
    justify-content: center;
    width: 100%;
}

.troisieme-film {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer {
    background-color: var(--deep-blue);
    width: 100%;
    padding: .5em;
    text-align: center;
    position: relative;
}

footer h3, footer p {
    margin: 1.5em 0em;
    color: white;
}

footer h3 {
    padding: .5em 0em;
}

.programmes {
    width: 50%;
    float: left;
}

#copyright {
    margin-top: 3em;
}

@media only screen and (min-width: 600px) {
    :root {
        font-size: 21px;
        --deep-blue: #001431;
        --ligh-grey: #8D8D8D;
    }
    .main-background {
        width: 100%;
        min-height: 50vh;
        background-image: url(/images/great-white.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position-y: 6em;
    }
}

@media only screen and (min-width: 900px) {
    .main-background {
        width: 100%;
        min-height: 69vh;
        background-image: url(/images/great-white.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position-y: 6em;
    }
}

@media only screen and (min-width: 1200px) {
    .main-background {
        width: 100%;
        min-height: 100vh;
        background-image: url(/images/great-white.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position-y: 3em;
    }
}